@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&family=Asap:wght@400;700&display=swap");

@mixin large {
  @media screen and (min-width: 641px) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: 640px) {
    @content;
  }
}


$text-color: hsl(198, 50%, 25%);
$gray-color: hsl(198, 50%, 90%);
$gray-text-color: hsl(198, 50%, 80%);
$background-color: hsl(198, 30%, 98%);


body {
  margin: 0px;
  padding: 0px;
  font-family: "Asap Condensed", "Mgen+ 1pp Regular";
  font-size: 16px;
  color: $text-color;
  background-color: $background-color;
  font-feature-settings: "lnum";
  line-height: 1;
  @include large {
    height: 100vh;
    overflow: hidden;
  }
}

#root {
  padding-block: 30px;
  display: flex;
  box-sizing: border-box;
  @include large {
    height: 100vh;
    padding-inline: 40px;
    flex-direction: row;
  }
  @include small {
    padding-inline: 15px;
    flex-direction: column;
  }
}

#menu-wrapper {
  @include large {
    width: 260px;
    flex: 0 0 260px;
    margin-inline-end: 30px;
    padding-inline-end: 30px;
    border-inline-end: 1px $gray-color solid;
  }
  @include small {
    flex: 0 0 auto;
    margin-block-end: 30px;
    padding-block-end: 30px;
    border-block-end: 1px $gray-color solid;
  }
}

#menu {
  row-gap: 4px;
  column-gap: 20px;
  @include large {
    display: flex;
    flex-direction: column;
  }
  @include small {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

#menu .item {
  all: unset;
  width: 100%;
  padding-block: 4px;
  column-gap: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  &.current {
    background-color: $gray-color;
    font-weight: bold;
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px $gray-color inset;
  }
  &:hover {
    background-color: $gray-color;
  } 
  &::before {
    color: $gray-color;
    font-weight: normal;
    content: "❥";
  }
}

#content {
  padding: 0px;
  flex: 1 1 0px;
}

h1 {
  margin: 0px;
  padding: 0px;
  column-gap: 15px;
  row-gap: 8px;
  font-size: 200%;
  font-weight: bold;
  display: flex;
  @include large {
    flex-direction: row;
    align-items: baseline;
  }
  @include small {
    flex-direction: column;
    align-items: start;
  }
}

h2 {
  margin-block-start: 30px;
  margin-block-end: 15px;
  padding: 0px;
  font-family: "Asap";
  font-size: 125%;
  font-weight: bold;
  letter-spacing: 0.3em;
  color: $gray-text-color;
  text-transform: uppercase;
}

#name {
  font-family: "Asap";
}

h1 .info {
  column-gap: 8px;
  display: flex;
  align-items: baseline
}

.id {
  padding-inline: 4px;
  font-size: 70%;
  border: 1px $gray-color solid;
  border-radius: 4px;
  display: flex;
  align-items: baseline;
}

.id #family {
  margin-inline-end: 4px;
  padding-inline-end: 4px;
  border-inline-end: 1px $gray-color solid;
}

#version {
  font-size: 70%;
}

#preview-wrapper {
  margin: 0px;
  padding: 8px;
  row-gap: 8px;
  border-radius: 8px;
  background-color: $gray-color;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
}

#preview-text {
  width: 100%;
  margin: 0px;
  padding-block: 4px;
  padding-inline: 4px;
  border-radius: 4px;
  font-family: "Asap";
  font-size: inherit;
  background-color: white;
  box-sizing: border-box;
  border: none;
  outline: none;
}

#preview {
  border-radius: 4px;
  background-color: white;
  display: block;
}

#glyph-list {
  gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.glyph-pane {
  padding: 8px;
  row-gap: 8px;
  border-radius: 8px;
  background-color: $gray-color;
  display: flex;
  flex-direction: column;
}

.glyph-pane .info {
  row-gap: 4px;
  display: flex;
  flex-direction: column;
}

.glyph-pane .bottom-info {
}

.glyph-pane .char {
  height: 1em;
  font-family: "Asap";
  font-weight: bold;
  white-space: pre;
  display: flex;
  align-items: center;
}

.glyph-pane .codepoint {
  font-size: 75%;
}

.glyph-pane .width {
  font-size: 75%;
}

.glyph-pane canvas {
  border-radius: 4px;
  background-color: white;
  display: block;
}

.simplebar-track.simplebar-vertical {
  width: 8px;
}

.simplebar-track.simplebar-horizontal {
  height: 8px;
}

.simplebar-scrollbar::before {
  background-color: $text-color;
}