@charset "utf-8";


body {
  font-family: "Alegreya Sans";
  font-size: 12pt;
  font-feature-settings: "lnum";
}

#root {
  width: 90%;
  max-width: 1000px;
  margin: 0px auto;
  padding: 30px 0px;
}

h1 {
  margin: 20px 0px;
  padding: 0px;
  font-size: 200%;
  font-weight: bold;
}

h2 {
  margin: 15px 0px;
  padding: 0px;
  font-size: 150%;
  font-weight: bold;
}

#glyph-list {
  margin: 0px -5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.glyph-pane {
  margin: 0px 5px 10px 5px;
  padding: 8px;
  background-color: hsl(0, 0%, 90%);
  border-radius: 8px;
}

.glyph-pane .info {
  margin: 0px;
}

.glyph-pane .char {
  font-weight: bold;
}

.glyph-pane .codepoint {
  font-size: 75%;
}

.glyph-pane canvas {
  margin: 5px 0px 0px 0px;
  border-radius: 4px;
  background-color: white;
  display: block;
}